<div class="control-group">
	<%= f.label :key, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :key %> <%= f.link_to_remove '<i class="icon-minus icon-white"></i>'.html_safe, :class => 'btn btn-mini btn-danger' %>
	</div>
</div>