// Place all the styles related to the graph here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.graph {

	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
    margin-right: 32px;
	margin-bottom: 8px;
    zoom: 1;
    *display: inline;
	
	h2 { 
		font-size: 1.5rem;
	}
}