// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http: //sass-lang.com/

body {
	
}

.left {
	position: absolute;
	left: 0px;
}

.right {
	position: absolute;
	right: 0px;
}

.graph {
	padding: 0px;
}

.graph-title {
	display: block;
	width: 50px;
	margin: 0 auto;
	margin-top: -40px;
}

.cell {
	stroke: #cacaca;
	stroke-width: 40px;
}

.module-box {
	stroke: rgba(0, 0, 0, .2);
	stroke-width: 1px;
	fill: rgba( 255, 255, 255, 1 );
	
	&.inactive {
		stroke-dasharray: 5,5;
		fill: rgba( 255, 255, 255, 0.6 );		
	}
	
	&.hovered {
		stroke: rgb( 100, 200, 100 );
	}
	
	&.selected {
		stroke: rgb( 100, 100, 200 );
	}
}

.module-close {
	fill: #fff;
	stroke: #333333;
	stroke-width: 2px;
}

.module-hitbox {
	fill: rgba(255, 0, 0, 0);
	stroke: rgba(255, 0, 0, 0);
	stroke-width: 1px;
}

.node-hitbox {
	fill: rgba(255, 0, 0, 0);
	stroke: rgba(255, 0, 0, 0);
	stroke-width: 1px;
	opacity: 0;
}

[class$='-substrate-circle'] {
	stroke-width: 2px;
}

[class$='-substrate-sector'] {
	stroke-width: 2px;
}


.substrate-substrate-text, .substrate-substrate-text-shadow {
	font-weight: bolder !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.substrate-substrate-text {
	fill: #fff;
}

.substrate-substrate-text-shadow {
	fill: rgba(0, 0, 0, .25);
}

.metabolite-spline {
	stroke-width: 4px;
}

.module-properties, .notification {
	max-width: 251px;
	position: absolute;
	display: none;
	
	&.selected {
		display: block;
		opacity: 1;
		z-index: 999;
	}
}

.module-properties {

	.control-group {
		margin-bottom:8px;
	}

	.control-label {
		width: 104px;
	}

	.controls {
		margin-left: 119px;

		.badge-metabolite {
			font-size:14px;
			line-hight:18px;
			margin-top:5px;
			margin-left:5px;
		}
	}	

	hr {
		margin:8px;
	}
	
	&.hovered {
		display: block;
		opacity: .9;
		z-index: 1000;

		.close {
			display: none;
		}

		.modal-footer {
			display: none;
		}

		input, select {
			border-color: rgba(0, 0, 0, 0);
			box-shadow: none;
		}
	}
}

.transporter-arrow {
	fill: #000;
	stroke: #333;
	stroke-width: 1px;
}

.pane {
	position: fixed;
	width: 500px;
	height: 100%;
	fill: green;
}
.pane-left {
	top: 0;
	left: 0;
}

.pane-right {
	top: 0;
	right: 0;
}
.pane-button{
	fill: #cacaca;
	stroke: black;
}
.pane-container {
	fill: white;
	stroke: black;
	overflow: auto;
}
#graphs {
	height: 100%;
}
.graph-container {
	width: 300px;
	height: 200px;
	margin: 20px;
	display: inline;
	float: left;
}
