// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	overflow-y:scroll;
}

.left {
	position: absolute;
	left: 0px;
}

.right {
	position: absolute;
	right: 0px;
}

div#paper svg {
	display:block;
	margin:0 auto;
}

.graph {
	padding: 0px;
}

.graph-title {
	display: block;
	width: 50px;
	margin: 0 auto;
	margin-top: -40px;
}

.cell {
	stroke: #cacaca;
	stroke-width: 40px;
}

rect, circle:not(.cell) {
	vector-effect:non-scaling-stroke;
}

.module-box {
	stroke: rgba(0, 0, 0, .2);	
	stroke-width: 1px;
	fill: rgba( 255, 255, 255, 1 );
	opacity:1;

	transition: all 0.3s ease-in-out;
	
	&.inactive {
		stroke-dasharray: 5,5;
		fill: rgba( 255, 255, 255, 0.6 );		
	}
	
	&.hovered {
		stroke: rgb( 100, 200, 100 );
	}
	
	&.selected {
		stroke: rgba(82, 168, 236, 0.8);
	}
}

text, tspan {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.module-text {
	font-size: 16px !important;
	fill: #333;
}

[class$='-substrate-text'], [class$='-substrate-text-shadow'] {
	font-weight: bolder !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size:18px !important
}

.module-hitbox {
	fill: rgba(255, 0, 0, 0);
	stroke: rgba(255, 0, 0, 0);
	stroke-width: 1px;

	cursor:pointer;
}

.node-hitbox {
	fill: rgba(255, 0, 0, 0);
	stroke: rgba(255, 0, 0, 0);
	stroke-width: 1px;
	opacity: 0;
}

.module-shadow {
	opacity:0 !important;
	transition: opacity .3s ease-in-out;

	&.selected {
		opacity:.182 !important;
	}
}

[class$='-substrate-circle'] {
	stroke-width: 2px;
}

[class$='-substrate-sector'] {
	stroke-width: 2px;
}

[class$='-substrate-text'] {
	fill: #fff;
}

[class$='-substrate-text-shadow'] {
	fill: rgba(0, 0, 0, .25);
}

.metabolite-spline {
	stroke-width: 4px;
}

.module-properties {
	max-width: 251px;
	position: absolute;
	display: none;

	&.selected {
		display: block;
		opacity: 1;
		z-index: 999;
	}
}

.module-properties {

	.control-group {
		margin-bottom:8px;
	}

	.control-label {
		width: 104px;
	}

	.controls {
		margin-left: 119px;

		.badge-metabolite {
			font-size:14px;
			line-hight:18px;
			margin-top:5px;
			margin-left:5px;
		}
	}	

	hr {
		margin:8px;
	}
	
	&.hovered {
		display: block;
		opacity: .9;
		z-index: 1000;

		.close {
			display: none;
		}

		.modal-footer {
			display: none;
		}

		input, select {
			border-color: rgba(0, 0, 0, 0);
			box-shadow: none;
		}
	}
}

.transporter-arrow {
	fill: #000;
	stroke: #333;
	stroke-width: 1px;
}

.pane {
	width: 300px;
	height: 100%;

	position: fixed;
	top:0;

	background: white;
	border:1px solid #ddd;
	border-width:0;

	box-shadow:0 0 5px rgba(0, 1px, 5px, .1);
	transition: left .5s ease-in-out, right .5s ease-in-out;

	.pane-button {
		width:18px;
		padding:10px 3px;

		position:absolute;
		top:150px;

		background:white;

		border:1px solid #ddd;
		border-width:0;

		font-size:24px;
		font-weight:900;
		color:#ccc;

		box-shadow:0 1px 5px rgba(0, 0, 5px, .1);
		cursor:pointer;
	}

	&.pane-left {
		left: -300px;
		border-right-width:1px;

		.pane-button {
			left:300px;

			border-width:1px;

			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;

			&:after {
				content:url('/assets/icon-chevron-right.png');
				opacity:.3;
			}
		}

		.pane-content {
			float:right;
		}


		&.extended {
			left: 0;

			.pane-button {
				&:after {
					content:url('/assets/icon-chevron-left.png');
					opacity:.3;
				}
			}
		}		
	}

	&.pane-right {
		right: -300px;
		border-left-width:1px;
		
		.pane-button {
			right:300px;

			border-width:1px;

			border-top-left-radius: 9px;
			border-bottom-left-radius: 9px;

			&:after {
				content:url('/assets/icon-chevron-left.png');
				opacity:.3;
			}
		}

		.pane-content {
			float:left;
		}

		&.extended {
			right: 0;

			.pane-button {
				&:after {
					content:url('/assets/icon-chevron-right.png');
					opacity:.3;
				}
			}
		}		
	}	
	
	.pane-content {
		width: 100%;
		height: 100%;
		overflow: auto;

		.pane-header.navbar {
			position:relative;
			z-index:10;
			margin-bottom:0;

			.navbar-inner {
				border-width:0 0 1px 0;
				border-radius:0;
			}
		}

		.pane-footer.navbar {			
			position:absolute;
			bottom:0;

			width:100%;
			margin-bottom:0px;

			.navbar-inner {
				border-width:1px 0 0 0;
				border-radius:0;
			}

			z-index:10;
		}	
	}
}

@media (max-width: 980px) and (min-width: 770px) {
	.pane {
		width: 200px;
		
		&.pane-left {
			left: -200px;

			.pane-button {
				left:200px;
			}
		}
		
		&.pane-right {
			right: -200px;
		
			.pane-button {
				right:200px;
			}
		}
	}
}

@media (max-width: 769px) and (min-width: 481px) {
	.pane {
		width: 100px;
		
		&.pane-left {
			left: -100px;

			.pane-button {
				left:100px;
			}
		}
		
		&.pane-right {
			right: -100px;
		
			.pane-button {
				right:100px;
			}
		}
	}
}


.undo-view {	

	.undo-contents {
		width:100%;

		.undo-body {
			position:absolute;
			top:41px;
			bottom:41px;
			width:100%;			

			.undo-list {
				position:relative;
				height:100%;
				width:100%;
				overflow-y:auto;				

				.undo-row {
					padding:8px 8px 8px 20px;
					line-height:20px;

					border-bottom:1px solid #ddd;

					cursor:pointer;
					
					transition: background-color 0.2s ease-in-out;

					dl {
						margin:0;

						dt {
							font-weight:normal;
							font-size:14px;
						}

						dd {
							text-align: right;
							color:#aaa;
						}
					}

					&:nth-child(odd):not(.selected) {
						background-color: #f9f9f9;
					}

					&:nth-child(even):not(.selected) {
						background-color:  lighten( #f9f9f9, 2% );
					}

					&:hover:not(.selected) {
						background-color: darken( #f9f9f9, 5% );
					}

					&.selected {
						background-color: darken( #f9f9f9, 5% );
						//border-bottom: 2px rgba( 100, 100, 255, 1) solid;
					}
				}
			}
		}

		.pane-footer {

			.navbar-inner {
				padding:0;

				.branch-button {
					padding: 10px 15px 10px;
					opacity: .2;

					border:0px solid #ccc;
	
					transition: opacity 0.2s ease-in-out;
					
					&.pull-left {
						border-right-width:1px;
					}

					&.pull-right {
						border-left-width:1px;
					}
				}
			}

			&.active-buttons {

				.branch-button {
					opacity: .7;
					cursor: pointer;
				}
			}		
		}	
	}
}

#graphs {
	height: 100%;
}
