
.module-properties {
	max-width: 251px;
	width: 251px;
	position: absolute;
	display: none;
	outline: none;

	&.selected {
		display: block;
		opacity: 1;
		z-index: 999;
	}

	&:not(.selected) {
		input[type=checkbox], input[type=radio] {
			display:none;
		}
	}

	.control-group {
		margin-bottom:8px;
	}

	.control-label {
		width: 104px;
	}

	.controls {
		margin-left: 119px;

		label {
			display:block;
			min-height: 0px;
			height:20px;
			transition: opacity .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, padding .3s ease-in-out;

			&.selectable-hide {
				opacity: 0;
				
				height:0px;
				margin-top:0px;
				margin-bottom:0px;

				input {
					display:none !important;
				}				
			}
		}

		input, select{
			transition: opacity 1s ease-in-out;

			&[disabled] {
				border-color: rgba(0, 0, 0, 0);
				box-shadow: none;
				background:none;

				&[type=checkbox], &[type=radio] {
					
					& + .badge {
						margin-left:-18px;
					}
				}
			}
		}

		.badge {
			transition: margin-left .3s ease-in-out;

			&.compounds {
				border-radius:2px;
			}
		}

		.badge-metabolite {
			font-size:14px;
			line-hight:18px;
			margin-top:5px;
			margin-left:5px;
		}
	}	

	hr {
		margin:8px;
	}
	
	&.hovered {
		display: block;
		opacity: .9;
		z-index: 1000;

		.close {
			display: none;
		}

		.modal-footer {
			display: none;
		}
	}
}

.tutorial {
	width: 350px;
	max-width: 350px;
	line-height: 24px;
	position: fixed;
	
	p {
		line-height: 24px;
	}
		
	&.active {
		display: block;
		opacity: .75;
		
		&:hover {
			opacity: .9;
		}
	}
	
	.badge.compounds {
	  border-radius: 2px;
	}
}

.close {
	margin-left: 10px;
	
	i {
		vertical-align: baseline;
	}
}
