<% if @isPDF %>
<img src= "<%= "data:image/svg+xml;base64,#{Base64.encode64(@report_params[:cell_svg])}" %>"></img>
<% else %>
<script>RouteTo( <%= @controller %>, <%= @report.cell.id %> );</script>
<div id="paper"></div>
<div id="graphs"></div>
<% end %>