<!DOCTYPE html>
<html>
<head>
  <title>Programming Life: Gigabase PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>